{% extends"layouts/base.html" %}
{% block title %} Dashboard {% endblock %}

{% block content %}

<h2> Dashboard page </h2>

<p>
  Request is: {{ request }}
</p>

<table class="ui compact celled definition table">
  <thead class="full-width">
    <tr>
      <th></th>
      <th>Figi</th>
      <th>Quantity</th>
      <th>Average position_price</th>
      <th>Current price</th>
    </tr>
  </thead>
  <tbody>
    {% for position in positions %}
    <tr>
      <td class="collapsing">
        <div class="ui fitted slider checkbox">
          <input type="checkbox"> <label></label>
        </div>
      </td>
      <td>{{ position.figi }}</td>
      <td>{{ position.quantity.units }}</td>
      <td>{{ position.average_position_price.units }}</td>
      <td>{{ position.current_price.units }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="4">
        <div class="ui right floated small primary labeled icon button">
          <i class="user icon"></i> Add User
        </div>
        <div class="ui small  button">
          Approve
        </div>
        <div class="ui small  disabled button">
          Approve All
        </div>
      </th>
    </tr>
  </tfoot>
</table>

{% endblock content %}
